html {
  scroll-behavior: smooth;
}

$btn-size: 50px;
$btn-color: #ff0000;
$btn-hover-color: #cc0000;
$btn-text-color: #ffffff;

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: $btn-size;
  height: $btn-size;
  background-color: $btn-color;
  color: $btn-text-color;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &:hover {
    background-color: $btn-hover-color;
    transform: scale(1.1);
  }
}
