.about-landing {
  .landing-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; // Full height of the viewport
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; // Ensure content does not overflow

    // Mobile responsiveness
    @media (max-width: 768px) {
      height: 50vh; // Reduce height on mobile
    }

    // Scroll Effect: Use opacity and translate for the fade-in effect
    .fade-in-section {
      opacity: 0;
      transform: translateY(20px); // Start with a downward offset
      transition: opacity 0.6s ease-out, transform 0.6s ease-out;

      &.fade-in {
        opacity: 1;
        transform: translateY(0); // Move to original position when in view
      }
    }

    .landing-overlay {
      text-align: center;
      background-color: rgba(0, 0, 0, 0); // Semi-transparent dark overlay
      padding: 2rem;
      color: #fff;
      width: 50%; // Adjust text container width
      border: 1px solid transparent; // Fix border issue
      border-radius: 10px;

      // Mobile responsiveness for text container
      @media (max-width: 768px) {
        width: 80%; // Increase text container width on mobile
        padding: 1rem; // Reduce padding for mobile
      }

      h1 {
        font-size: 5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: white;

        // Mobile responsiveness for h1
        @media (max-width: 768px) {
          font-size: 2rem;
          margin-bottom: 0.5rem; // Reduce margin for better spacing on mobile
        }
      }

      p {
        font-size: 1.2rem;
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;

        // Mobile responsiveness for paragraph text
        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  /* Start with a downward offset */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
    /* Move to original position when in view */
  }
}