.about {
  background-color: #fff;

  &.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.about-landing {
  .landing-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media (max-width: 768px) {
      height: 50vh;
    }

    .landing-overlay {
      text-align: center;
      background-color: rgba(0, 0, 0, 0);
      padding: 2rem;
      color: #fff;
      width: 50%;
      border-radius: 10px;

      @media (max-width: 768px) {
        width: 80%;
        padding: 1rem;
      }

      h1 {
        font-size: 5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: white;

        @media (max-width: 768px) {
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }
      }

      p {
        font-size: 1.2rem;
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;

        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  /* Start with a downward offset */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
    /* Move to original position when in view */
  }
}

.about {
  &.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content-wrapper {
    flex: 1;
  }
}